<a href="https://colab.research.google.com/github/Edebo/stageB-hamoye/blob/master/quizstageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [80]:
data_url = "https://raw.githubusercontent.com/Edebo/stageB-hamoye/master/energydata_complete.csv"

df = pd.read_csv(data_url)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

```
# This is formatted as code
Attribute Information:

date time year-month-day hour:minute:second
Appliances, energy use in Wh
lights, energy use of light fixtures in the house in Wh
T1, Temperature in kitchen area, in Celsius
RH_1, Humidity in kitchen area, in %
T2, Temperature in living room area, in Celsius
RH_2, Humidity in living room area, in %
T3, Temperature in laundry room area
RH_3, Humidity in laundry room area, in %
T4, Temperature in office room, in Celsius
RH_4, Humidity in office room, in %
T5, Temperature in bathroom, in Celsius
RH_5, Humidity in bathroom, in %
T6, Temperature outside the building (north side), in Celsius
RH_6, Humidity outside the building (north side), in %
T7, Temperature in ironing room , in Celsius
RH_7, Humidity in ironing room, in %
T8, Temperature in teenager room 2, in Celsius
RH_8, Humidity in teenager room 2, in %
T9, Temperature in parents room, in Celsius
RH_9, Humidity in parents room, in %
To, Temperature outside (from Chievres weather station), in Celsius
Pressure (from Chievres weather station), in mm Hg
RH_out, Humidity outside (from Chievres weather station), in %
Wind speed (from Chievres weather station), in m/s
Visibility (from Chievres weather station), in km
Tdewpoint (from Chievres weather station), Â°C
rv1, Random variable 1, nondimensional
rv2, Random variable 2, nondimensional **bold text**
```

In [81]:
df = df.drop(columns=["date","lights"])

In [82]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
#features_df = normalised_df.drop(columns=["date","lights"])
features_df = normalised_df.drop(columns=["Appliances"])
appliances_target = normalised_df["Appliances"]


x_train,x_test,y_train,y_test = train_test_split(features_df,appliances_target,test_size=0.3,random_state = 42)

**Q12**
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [83]:
model = LinearRegression()

model.fit(np.array(x_train[["T2"]]),x_train["T6"])
predicted_values = model.predict(x_test[["T2"]])
#r_squared
from sklearn.metrics import r2_score
r2_score = r2_score(x_test["T6"], predicted_values)
round(r2_score, 2)

0.64

**Question 13**
What is the Mean Absolute Error (in two decimal places)?

In [84]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(x_test["T6"], predicted_values)
round(mae, 2)

0.08

**Question 14**
What is the Residual Sum of Squares (in two decimal places)?

In [85]:
#Residual Sum of Squares.py
rss = np.sum(np.square(x_test["T6"] - predicted_values))
round(rss, 2)

66.12

**Question 15**
What is the Root Mean Squared Error (in three decimal places)?

In [86]:
#Root Mean Square Error.py
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(x_test["T6"], predicted_values))
round(rmse, 2) 	#prints 0.089

0.11

**Question 16**
What is the Coefficient of Determination (in two decimal places)?

In [93]:
#coefficient of determination is the same r_squared
round(r2_score, 2)

0.64

**Question 17**
Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [87]:
model.fit(x_train,y_train)
print(model.coef_.round(2),model.coef_.max().round(2),model.coef_.min().round(2))

[-0.    0.55 -0.24 -0.46  0.29  0.1   0.03  0.03 -0.02  0.02  0.24  0.04
  0.01 -0.04  0.1  -0.16 -0.19 -0.04 -0.32  0.01 -0.08  0.03  0.01  0.12
  0.    0.  ] 0.55 -0.46

In [88]:
#the fourth columns is the  lowest while thsecond columns is th heights
x_train.head()

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
9129   0.497360  0.236767  0.122850  ...   0.192308  0.724554  0.724554
2453   0.286167  0.482616  0.188999  ...   0.342383  0.864041  0.864041
9152   0.422386  0.230529  0.057427  ...   0.158371  0.499502  0.499502
12694  0.560718  0.446840  0.280834  ...   0.558069  0.323173  0.323173
16952  0.835269  0.422071  1.000000  ...   0.787330  0.341060  0.341060

[5 rows x 26 columns]

**Question 18 **Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [89]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)
predicted_values = ridge_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 2)

0.09

**Question 19**
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [90]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

len(lasso_reg.coef_[lasso_reg.coef_!=0])

4

**Question 20**
What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [91]:
predicted_values = lasso_reg.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.094